.footer
    .container.center-wrapper
        .footer-logo.d-flex.flex-wrap.justify-content-between.align-items-center 
            p.m-0.p-0 ©2020 Yourcompany
            h1.m-0.p-0 Landie
            button Purchase now
        .footer-links.d-flex.flex-wrap.justify-content-between.align-items-center
            .section-links 
                a.nav-link.active(href="#" aria-current="page") Home
                a.nav-link(href="#") About
                a.nav-link(href="#") Contact 
            .footer-socmedia
                img(src="./images/facebook-icon.png", alt="")
                img(src="./images/linked-icon.png", alt="")
                img(src="./images/twitter-icon.png", alt="")
                img(src="./images/youtube-icon.png", alt="")
                img(src="./images/instagram-icon.png", alt="")