nav.navbar.navbar-expand-md
    .container.center-wrapper
        .col-4 
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-links-top" aria-controls="navbar-links-top" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon 
            .colapse.navbar-collapse#navbar-links-top 
                ul.navbar-nav 
                    li.nav-item 
                        a.nav-link.active(href="#" aria-current="page") Home
                    li.nav-item 
                        a.nav-link(href="#") About
                    li.nav-item 
                        a.nav-link(href="#") Contact
        .col-4.text-center
            a.navbar-brand(href="#") Landie
        .col-4.text-end
            button.buy-now-btn.p-0 Buy Now