.pricing-section
    .border-imit
    .container.center-wrapper
        .price-content 
            .content-top
                h2 A Price To Suit Everyone
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
            .content-center 
                h2 $40
                p UI Design Kit
            .content-bottom.d-flex.flex-column.align-items-center
                p See, One price. Simple.
                button Purchase Now