doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./styles/size_xl/size_xl.css")
        link(rel="stylesheet", href="./styles/size_s/size_s.css")
        link(rel="stylesheet", href="./styles/style.css")
        title Document
    body 
        .main-wrapper
            h1 Buttons Big  
            .big-buttons
                include layout/size_xl/size_xl.pug
                
            h1 Buttons Small 
            .small-buttons
                include layout/size_s/size_s.pug